@font-face {
    font-family: futura-pt;
    src: url("./futura-pt-book.2dadbb3c03c1.woff2");
}

body {
    font-family: futura-pt, Avenir, -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,sans-serif;
    background-color: rgb(243, 243, 243);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #fbffa7;
    padding: 3%;
}

.content-wrapper {
    background-color: #fff;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

#choice-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
